﻿* {
	padding: 0;
	margin: 0;
		
}

html {
	background-color: grey;
}

#header {
	height: 80px;
	color: white;
	text-align: center;
	background-image:url('../img/header1.jpg') ; 	
	vertical-align: middle;
	line-height: 80px;
	padding: 0 10px;

	
	
}

nav li , h1, header, nav {
	display: inline-block;
}

header {
	float: left;
	height: 100%;

}

nav {
	float: right;
}

nav li {
	margin: 0 5px;
	vertical-align: middle;
	line-height: 40px;
}

nav a {
	color: white;
	text-decoration: none;
	padding:0 10px;
	font-weight: bold;
	font-size: 25px;
	height: 40px;
	border: 2px solid white;
	display: inline-block;
}

nav a:hover {
	background-color: white;
	color: #396902;
	transition: all linear 0.6s;
	
}

#home {
	height: 650px;
	background: url('../img/home.jpg')  no-repeat;
	background-size: cover;
	text-align: center;
	color: #355212;
	vertical-align: bottom;
	text-shadow: 1px 1px 2px black;
	position: relative;
}




#events {
	height: 800px;
	background-image: url('../img/events.jpg');
	background-color: rgba(255,0,0, 0.4);
	padding-bottom: 12%;
	}
	
#events h2 {
	color: black;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: black;
	font-size: 40px;
}


#contact-us {
    height: 450px;
    background-color: white;
    
   
}
	 
#contact-us h2 {
	text-align: center;
	font-size: 35px;
	color:#3a6903;
	padding: 10px 0;
}	  	            
    
.footer {
	height: 40px;
	background: rgba( 255, 255, 0, 0.5);
	color: #406d09 ;
	vertical-align: middle;
	line-height: 40px;
	padding: 0 4%;
	font-weight: bold;
	position: fixed;
	bottom: 0;
	width: 100%;
}
footer {
	    
		display: inline-block;
		
	}
	
.footer button  {
	float: right;
	width: 90px;
	height: 30px;
	margin-top: 5px;
	border-radius: 5px;
	outline: none;
	background-color: #406d09;
	color: yellow;
	font-size: 14px;
	margin-right: 7%;
	 
	
	
}
.footer button  a {
	color: yellow;
	font-weight: bold;
	text-decoration:none;
}

.footer button:hover {
	cursor: pointer;
	color: red;
	transition: all linear 0.4s;
	transform: scale(1.1)
	
	
}

#price {
	height: 400px;
	background-image: url('../img/price.jpg');
	padding: 25px 2%;
	
}

.tariff {
	width: 20%;
	height: 350px;
	display: inline-block;
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 30px 2.25%;
	text-align: center;
	vertical-align: middle;
	
}

.tariff p {
	font-size: 20px;
	font-weight: bold;
	
	
}

.tariff h2, .tariff p {
	padding-top: 10px;
	color: red;
}

.tariff i {
	color: green;
}

.tariff button {
	background: green;
	width: 80%;
	height: 50px;
	margin-top: 20px;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	color: yellow;
	text-shadow: 1px 1px 2px blue;
		
}

.tariff button:hover {
	cursor: pointer;
	}
	
.post {
	padding: 5px;
	*border-bottom: 2px solid yellow;
	*box-shadow: 0 0 10px rgba(0,0,0,0.5);
	
	
}

.post img {
	border-radius: 7px;
	width: 15%;
	height: 15%;
	float: left;
}

.post:after {
	display: block;
	clear: both;
	content: '';
	
}

.descriptions {
	display: inline-block;
	width: 75%;
}

.descriptions h2 {
	display: inline-block;
	padding-left: 10px;
	padding-bottom: 10px;
}

.descriptions p {
	font-style: italic;
	font-size: 20px;
	text-align: justify;
	margin-right: 20px;
	background: rgba( 255, 255, 255, 0.5);
	
}

form {
    width: 400px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #57a003;
    border-radius: 10px;
}

form  input, label, textarea {
	margin-left: 70px;
	padding-bottom: 10px;
}

form label {
	font-size: 20px;
	
}

.overlay {
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    cursor: default;
}

.overlay:target {
    display: block;
}
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    transform: translate(-50%, -500%);
    transition: transform 0.6s ease-out;
}
.overlay:target+.popup {
    transform: translate(-50%, 0);
    top: 20%;
}
.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    box-shadow: 0 0 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
/*--end popup--*/

.header i {
    float: right;
    margin-top: 16px;
    display: none;
}

@media screen and (max-width: 620px) {
    .header i {
        display: block;
    }
    .action {
        height: 248px;
        transition: all ease 0.4s;
    }
    .action nav {
        position: absolute;
        top: 80px;
        width: 100%;
        left: 0;
    }
    .action nav li {
        display: block;
        margin: 0;
    }
    .action nav a {
        border: none;
        border-top: 1px solid blue;
        width: 100%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
}

#background {
	background: url(../img/paper.jpg);
}

.table h2 {
	color: black;
	text-align: center;
}
/*table*/
.table {
    font-size: 18px;
    margin-left: 5%;
    padding-top: 20px;
}
table {
    text-align: center;
    width: 90%;
}
thead {
    background: #fc0;
}
tbody {
    background: #64c21c;
}
.view {
    color: blue;
}
.edit {
    color: red;
}

.button input {
	color: green;
}	 

#checkbox {
	margin-top: 10px;
}

.submit {
	color: #2c4f04;
	font-weight: bold;
	cursor: pointer;
	border: 2px solid #3a6903;
	background: #f6f6f6;
	border-radius: 8px;
	padding: 8px 8px;
	width: 90px;
	margin-top: 15px;
}
.submit:hover {
	box-shadow: inset 0px -20px 20px #ffffff;
	transition: all linear 0.4s;
	transform: scale(1.1)
}
.submit:active {
	margin-top: 1px;
	margin-bottom: -1px;
	zoom: 1;
}